h1 {
font-size:80;
color:#faeeb1;
font-family:cursive;
}

h6 {
font-size:17;
color:#A0FFF6;
font-family:cursive;
}

button {
height:70;
width:220;
background-color:#6ca390;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #faeeb1;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

  .ml5 .ampersand {
    font-family: cursive;
    font-weight: bold;
    margin-right: 14rem;
    margin-left: 0.25rem;
  }

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
